[submodule "components/etl/etl"]
	path = components/etl/etl
	url = https://github.com/ETLCPP/etl
[submodule "components/RadioLib"]
	path = components/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "components/cnl/cnl"]
	path = components/cnl/cnl
	url = https://github.com/johnmcfarlane/cnl
